.header {
    justify-content: space-around;
    flex-flow: row wrap;
    display: flex;
    width: 100%;
    background-color: #0064004d;
    padding: 1rem 4rem;


    &__h1 {
        font-size : 4rem;
        font-family : 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
    }

    &__nav {
        ul {
            list-style-type: none;
            display: flex;
            flex-flow: row wrap;
        }
         li{
            margin: 1rem;
        }
        &--li{
            color: $coral;

        }
    }


}
